# head, tail, describe

In [167]:
# load iris dataset
from sklearn import datasets
import pandas as pd
import numpy as np
import string
iris = datasets.load_iris()
iris = pd.DataFrame(iris.data, columns=iris.feature_names)

In [135]:
iris.head(1)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2

In [136]:
iris.tail(1)

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
149                5.9               3.0                5.1               1.8

In [137]:
iris.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.054000,3.758667,1.198667
std,0.828066,0.433594,1.764420,0.763161
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

# iloc, loc, ix

### index: numeric x column: charater

In [155]:
df1 = pd.DataFrame({'Alphabet':list(string.ascii_uppercase),
                    'Number':range(26)},
                   index = list(reversed(range(26))))
print(df1.head(2))
print(df1.tail(2))

   Alphabet  Number
25        A       0
24        B       1
  Alphabet  Number
1        Y      24
0        Z      25

In [139]:
df1.iloc[1] # same as df1.iloc[1,] df1.iloc[1,:]

Alphabet    B
Number      1
Name: 24, dtype: object

In [140]:
df1.iloc[24] # same as df1.loc[1] df1.ix[1]

Alphabet     Y
Number      24
Name: 1, dtype: object

In [141]:
df1.loc[1]

Alphabet     Y
Number      24
Name: 1, dtype: object

In [142]:
df1.ix[1]

Alphabet     Y
Number      24
Name: 1, dtype: object

In [143]:
df1.iloc[24, 0]
# df.iloc[1, 'Alphabet'] # => ValueError

'Y'

In [147]:
df1.loc[1, 'Alphabet']
# df.loc[1, 0] # => TypeError

'Y'

In [148]:
df1.ix[1, 'Alphabet']
df1.ix[1, 0]
# df.ix[,'Alphabet'] # => SyntaxError

'Y'

In [149]:
df1.iloc[24, [0, 1]]

Alphabet     Y
Number      24
Name: 1, dtype: object

In [150]:
df1.loc[1, ['Alphabet','Number']]

Alphabet     Y
Number      24
Name: 1, dtype: object

In [151]:
df1.ix[1, ['Alphabet','Number']]

Alphabet     Y
Number      24
Name: 1, dtype: object

### index: charater x column: charater

In [158]:
df2 = pd.DataFrame({'Alphabet':list(string.ascii_uppercase),
                    'Number':range(26)},
                   index = list(reversed(list(string.ascii_uppercase))))
print(df2.head(2))
print(df2.tail(2))

  Alphabet  Number
Z        A       0
Y        B       1
  Alphabet  Number
B        Y      24
A        Z      25

In [159]:
df2.iloc[1]

Alphabet    B
Number      1
Name: Y, dtype: object

In [162]:
df2.loc['Y']
# df2.loc[1] # => TypeError

Alphabet    B
Number      1
Name: Y, dtype: object

In [164]:
df2.ix['Y']

Alphabet    B
Number      1
Name: Y, dtype: object

In [165]:
df2.ix[1]

Alphabet    B
Number      1
Name: Y, dtype: object

## memo
python - pandas iloc vs ix vs loc explanation? - Stack Overflow http://stackoverflow.com/questions/31593201/pandas-iloc-vs-ix-vs-loc-explanation

- loc works on labels in the index.
- iloc works on the positions in the index (so it only takes integers).
- ix usually tries to behave like loc but falls back to behaving like iloc if the label is not in the index.

| index | iloc | loc | ix |
|-------|------|-----|----|
| numeric | OK | NG | OK |
| character | NG | OK | OK |
| return | the positions in the index | labels in the index. | labels in the index. |

| column | iloc | loc | ix |
|--------|------|-----|----|
| numeric | OK | NG | OK |
| character | NG | OK | OK |
| return | the positions in the index | labels in the index. | labels in the index. |

# groupby, aggregate, agg

In [152]:
import pandas.rpy.common as com
tips = com.load_data('tips', package='reshape2')
tips.head(3)

   total_bill   tip     sex smoker  day    time  size
1       16.99  1.01  Female     No  Sun  Dinner     2
2       10.34  1.66    Male     No  Sun  Dinner     3
3       21.01  3.50    Male     No  Sun  Dinner     3

In [153]:
tips.groupby(['sex']).sum()
# tips.groupby(['sex']).sum(['total_bill', 'tip', 'size']) # => TypeError

        total_bill     tip  size
sex
Female     1570.95  246.51   214
Male       3256.82  485.07   413

In [172]:
tips.groupby(['sex'], as_index=False).sum()

      sex  total_bill     tip  size
0  Female     1570.95  246.51   214
1    Male     3256.82  485.07   413

In [154]:
tips.groupby(['sex']).sum().reset_index()

      sex  total_bill     tip  size
0  Female     1570.95  246.51   214
1    Male     3256.82  485.07   413

In [168]:
tips.groupby(['sex']).aggregate(np.sum)

        total_bill     tip  size
sex
Female     1570.95  246.51   214
Male       3256.82  485.07   413

In [169]:
tips.groupby(['sex']).agg([np.sum, np.mean, np.std])

       total_bill                          tip                     size  \
              sum       mean       std     sum      mean       std  sum
sex
Female    1570.95  18.056897  8.009209  246.51  2.833448  1.159495  214
Male      3256.82  20.744076  9.246469  485.07  3.089618  1.489102  413


            mean       std
sex
Female  2.459770  0.937644
Male    2.630573  0.955997

In [170]:
tips.groupby(['sex']).agg([np.sum, np.mean, np.std]).reset_index()

      sex total_bill                          tip                     size  \
                 sum       mean       std     sum      mean       std  sum
0  Female    1570.95  18.056897  8.009209  246.51  2.833448  1.159495  214
1    Male    3256.82  20.744076  9.246469  485.07  3.089618  1.489102  413


       mean       std
0  2.459770  0.937644
1  2.630573  0.955997

In [171]:
tips.groupby(['sex']).agg([np.sum, np.mean, np.std]).reset_index(drop=True)

  total_bill                          tip                     size            \
         sum       mean       std     sum      mean       std  sum      mean
0    1570.95  18.056897  8.009209  246.51  2.833448  1.159495  214  2.459770
1    3256.82  20.744076  9.246469  485.07  3.089618  1.489102  413  2.630573


        std
0  0.937644
1  0.955997

In [180]:
tips2 = tips.groupby(['sex']).agg([np.sum, np.mean, np.std])
tips2.columns = ['_'.join(col).strip() for col in tips2.columns.values]
tips2.reset_index()

,sex,total_bill_sum,total_bill_mean,total_bill_std,tip_sum,tip_mean,tip_std,size_sum,size_mean,size_std
0,Female,1570.95,18.056897,8.009209,246.51,2.833448,1.159495,214,2.459770,0.937644
1,Male,3256.82,20.744076,9.246469,485.07,3.089618,1.489102,413,2.630573,0.955997